<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Language" value="EN" />
    <add key="AutoGen" value="false" />
    <add key="DownloadImages" value="false" />
    <add key="LatestCommit" value="22d2caa315f8518d3f9757e30a74528f67d9d5f3" />
  </appSettings>
</configuration>